---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import RoleSpotlight from '../components/RoleSpotlight.astro';
---

<Layout title="Matt Boraske | Data Scientist">
  <Header />
  <main>
    <Hero />
    <RoleSpotlight />
  </main>
</Layout>
