---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Matt Boraske | Data Scientist">
  <main>
    <section class="min-h-screen flex items-center justify-center">
      <h1 class="text-4xl font-bold">Coming Soon</h1>
    </section>
  </main>
</Layout>
