---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Matt Boraske | Data Scientist">
  <Header />
  <main class="pt-16">
    <section class="min-h-screen flex items-center justify-center">
      <h1 class="text-4xl font-bold">Coming Soon</h1>
    </section>
  </main>
</Layout>
